<div class="partial">
  <%= insert_bcorners %>
  <div class="header p_team_all"></div>

  <div class="body">
    <% unless @teams.empty? %>
      <% for team in @teams %>
        <%= render :partial => "team", :locals => {:team => team} %>

      <% end %>
    <% else %>
      Nie znaleziono żadnej grupy
    <% end %>
    <div class="button_gold_100">
      <%= link_ "Dodaj grupę" , "team", "new" %>
    </div>
  </div>
</div>