%tr{:id => "ad_#{ad.id}", :class=> 'ad'}
  %td= ad.title
  %td= link_to 'Edycja', edit_ad_path(banner)
  %td= link_to 'Usuń', ad_path(ad), :method => :delete, :cofirm => 'Czy napewno chcesz usunąć?'
  