//= will_paginate @users, :renderer => 'RemoteLinkRenderer', :remote => remote_pagination_params, :previous_label => "&laquo;", :next_label => "&raquo;"

%table{:class => 'banner tablesorter'}
  %thead
    %tr.tableHead2
      %th Nazwa
  %tbody
    = render :partial => 'add', :collection => @ads
