<p>Dziękujemy za rejestrację w serwisie quadomaniacy.pl. Kilknij na poniższym linku, by aktywować konto</p>

<p><a href="<%= @account_activation_url %>"><%= @account_activation_url %></a></p>

  <p>W przypadku problemów skopiuj link do paska adresu przeglądarki, jeśli zaś i to się nie powiedzie, napisz do nas na adres admin@quadomaniacy.pl</p>
  
<p style="white-space: pre">
--
Pozdrawiamy,
ekipa quadomaniacy.pl</p>