<p>Witaj <%= @user.login %>,</p>

<p>dostałeś wiadomość od użytkownika <%= @sender.login %>.</p>

<p>Kliknij <a href="http://www.quadomaniacy.pl/message/received">tutaj</a>, aby przejść do skrzynki odbiorczej.</p>

<p style="white-space: pre">
--
Pozdrawiamy,
ekipa quadomaniacy.pl</p>