.partial
  .header.shops
  .body
    - form_for @shop do |form|
      = render :partial => 'fields', :locals => { :form => form }

      .form_row
        = form.submit "Zapisz", :class => "submit"
      %span.required_field 
        * - pole wymagane

    = render :partial => 'assets/new', :locals => { :object => @shop, :asset_type => "Image" }

    .clr



