.column1
  %br
  %div{:id => "map", :style => "margin: 20px 0 0 60px; padding-left: 160px; width: 580px; height: 540px"}

%script{ :src => "http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true&amp;key=ABQIAAAA8_F5IV-zhKYKc5VjBRNwPBSn6Qs6EpE8_TUVMlfVLNOtS0IIHRT3UAUiQdKuzZwLWV5CLsaAdb5ktw", :type => "text/javascript"}


:javascript 
  setTimeout("showGoogleMap()", 1);




