//= will_paginate @users, :renderer => 'RemoteLinkRenderer', :remote => remote_pagination_params, :previous_label => "&laquo;", :next_label => "&raquo;"

%table{:class => 'buy_ad tablesorter'}
  %thead
    %tr
      %th{:style => 'text-align:left;'} Tytuł
      %th{:style => 'text-align:left;'} Opis
      %th{:style => 'text-align:left;'} Email
      %th{:style => 'text-align:left;'} Telefon
      %th{:style => 'text-align:left;'} Oferta dnia
      %th{:style => 'text-align:left;'} Specjalna
      %th
      %th
  %tbody
    = render :partial => 'sale_ad', :collection => @sale_ads
