- form_for @sale_ad, :html => { :class => 'admin' } do |form|
  %fieldset
    %legend Ogłoszenie

    = render :partial => 'fields', :locals => { :form => form }

    %div
      = submit_tag 'Zapisz', :class => 'submit'
      = link_to 'Anuluj', sale_ads_path, :class => 'submit'

%div{:style => 'float:right; margin:30px 10px;'}
  = render :partial => 'assets/new', :locals => { :object => @sale_ad, :asset_type => "Image" }
