- form_for @sale_ad, :html => { :class => 'admin' }do |form|
  %fieldset
    %legend Ogłoszenie

    = render :partial => 'fields', :locals => { :form => form }

    %div
      = submit_tag 'Zapisz', :class => 'submit'
      = link_to 'Anuluj', banners_path, :class => 'submit'

    %div
      = render :partial => 'assets/new', :locals => { :object => @sale_ad, :asset_type => "Image" }
