.submit {
  background: none;
  border: 0 none;
  background-image: url("../btn_silver_67.png");
  height: 26px;
  width: 67px;
  text-align: center;
  color: #000;
  font-size: 7pt;
  font-weight: bold;
  float: right;
  margin-top: 40px;
}

.button_silver_67{
    height: 26px;
    width: 67px;
    text-align: center;
    color: #000;
    background-image: url("../btn_silver_67.png");
    background-repeat: no-repeat;    
}

.button_silver_67 a{
    color:#000;
    font-size: 7pt;
    display: block;
    text-align: center;
    height: 21px;
    width: 67px;
    padding-top: 6px;
}

.button_silver_75{
    height: 26px;
    width: 75px;
    text-align: center;
    color: #000;
    background-image: url("../btn_silver_75.png");
    background-repeat: no-repeat;
}

.button_silver_75 a{
    color:#000;
    font-size: 7pt;
    display: block;
    text-align: center;
    height: 21px;
    width: 75px;
    padding-top: 6px;
}

.button_gold_100{
    height: 26px;
    width: 100px;
    text-align: center;
    color: #000;
    background-image: url("../btn_gold_100.png");
    background-repeat: no-repeat;
}

.button_gold_100 a{
    color:#000;
    font-size: 7pt;
    display: block;
    text-align: center;
    height: 21px;
    width: 100px;
    padding-top: 6px;
}