.form_row label{
    float: left;
    font-size: 9pt;
}

.form_row input, .form_row select, .form_row textarea{
    float:right;
    border: 1px solid #aaa;
}


.form_row{
    overflow: hidden;
    width:100%;
    margin: 1px;
}

table{
 width: 78%;
}

table th{
  border-bottom: 1px solid #B8B8B8;
}

#progress {
  width: 80%;
  border: 2px dotted #eee;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  margin: 15px auto;
  padding: 10px;
  text-align: center;
}

#bar {
  background-color: #333;
  color: #e0e0e0;
  text-align: center;
  min-width: 1.5em;
  padding: 5px 0;
  display: block;
  margin-left: 0;
}
