body{
    font: 11px Tahoma,Verdana,sans-serif;
    background: #212121;
    margin: 0;
    padding: 0;
    padding-bottom:30px;
}

#logo{
    margin-left:580px;
    margin-top:138px;
}

#menu{
    position: relative;
    top: 179px;
    left: 118px;
    width:540px;
    height:26px;

}

#menu > div{
    float:left;
    margin-left:7px;
    margin-top: 2px;
}

#menu div a{
    font-weight: bold;
    font-size:10pt;
}
#page{
    width: 1140px;
    border: dotted 1px #212121;
    margin: 0px auto 0 auto;
    background-image: url("../background.png");
    background-repeat: no-repeat;
    background-position: -150px 0px;

}

#main{
    width: 942px;
    margin: 0px 99px 0px 99px;
    background-color: #E3E0D5;
    padding: 25px 6px 0 6px;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#lcol{
    width: 220px;
    float: left;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
}

#ccol{
    float:left;
    display: block;
    width: 470px;
}

#flash {
  width: 480px;
}

#rcol{
    width: 208px;
    float:left;
    display: block;
    margin-left: 10px;
}

.clr{
    clear: both;
}

#footer{
    margin-top:15px;
    clear:both;
    width:940px;
    margin-left:99px;
    font-size: 7pt;
    color:#fff;
}

#image {
  float: left;
}

#footer a{
    font-size: 7pt;
    color:#fff;
}

#footer_links{
    float:right;

}

#footer #copyright {
  float:left;
  margin-left: 10px;
}


div.nav2 a{
    color:#888;
}

div.nav2 div{
    width:143px;
    float:left;
    text-align: center;
}

div.team_nav a{
    padding:5px;
}

div.team_edit{
    float:left;
}



div.team_del{
    float:right;
}
span.team_opt a{
    font-weight:normal;
    font-size:9pt;
}


div#error{
    font-family:Arial, sans-serif;
    border: solid 1px red;
    background: #f55;
    margin: 10px 100px 10px 30px;
    padding: 10px 10px 10px 10px;
    font-weight:bold;
    font-size:9pt;
    text-align: center;
}

div#notice{
    font-family:Arial, sans-serif;
    border: solid 1px green;
    background: #9f8;
    margin: 10px 100px 10px 50px;
    padding: 10px 10px 10px 10px;
    font-weight:bold;
    font-size:9pt;
    text-align: center;
}

form p.error {
  color: red;
  font-size: 10px; }
form input.error {
  border: 1px solid red; }
form span.error , form label.error, form .formError {
  float: none;
  color: red;
  font-size: 80%;
  font-weight: bold;
  display: block; 
  float: right;
  clear: both;}

.fieldWithErrors input {
  border: 1px solid red; }

.error {
  color: red;
  font-size: 10px; }

.success {
  color: green;
  font-size: 10px; }

#simple_captcha .simple_captcha_field, #simple_captcha .simple_captcha_image{
  float: right;
  clear: both;
}

table.gallery_list .gallery {
 width: 220px;
}