@import 'layout.css';
@import 'partials.css';
@import 'buttons.css';
@import 'userinfo.css';
@import 'menu.css';
@import 'messages.css';
@import 'user.css';
@import 'form.css';
@import 'gallery.css';
@import 'event.css';
@import 'forum.css';
@import 'comments.css';
/* 
    Document   : main.css
    Created on : 2010-05-23, 19:14:12
    Author     : telpeloth
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


a > img {
    border: none;
}

a {
    text-decoration: none;
    
}
