.user-profil {
	width: 930px!important;
}
.user-profil .body {
	padding: 10px 20px!important;
}
.user-acount {
  position:absolute;
  right:20px;
  top:30px;
  width:211px;
}

.ccol_wider{
 width: 700px!important;
}

.col_left{
    width:49%;
    float:left;
    margin-right:10px;
}

.col_right{
    width:49%;
    float:right;
}

.ccol_wider .partial{
    width:100%;
}



.lcol_user{
    float:left;
    display:block;
    width: 50%;
    min-height: 130px;
}

.rcol_user{
    float:right;
    display:block;
    width:156px;
}

div.about_links > div{
    font-size: 8pt;
    border-bottom: 1px dotted #aaa;
    height: 25px;
    height: 100%;
    overflow: hidden;
    padding:5px 3px;
}

div.about_links > div > div{
    float:right;
}

div.about_links, div.about_links a{
    font-size:9pt;
    font-weight: bold;
}

div.about_head{
    font-size: 10pt;
    text-align: left;
}
div.about_head .photo { 
	float:left;
	width: 110px;
	padding-top: 6px;
}
div.about_head .user-info {
	float:left;
	width:150px;
	text-align:center;
	margin-top:20px;
}
div.about_head .user-info .nick {
	font-weight:bold;
}

div.about {
	border-top: 1px dotted #aaa;
	padding:15px 0;
}
div.about .col_left > div, 
div.about .col_right > div {
    font-size:10pt;
	font-weight: bold;
	padding: 5px 0;
}

div.user_links {
    margin-top:15px;
}

div.user_links a{
    display: block;
    font-size: 8pt;
    width: 100%;
}

.team_opt a{
    color:#aaa;
    text-transform:uppercase;
}

.friend { 
	width:100px; 
	display:inline-block;
	margin:10px 4px 0 0;
	vertical-align:top;
}
.f-photo { margin-bottom:5px; }
.f-about {  
	margin-left:3px;
	margin-bottom:10px;
}
.f-about > div {
	font-size:9pt;
	font-weight:bold;
}
.partial .links { margin-bottom:10px; }
.partial .links a { margin:0 3px; }

.gallery-user { 
	margin:10px 0 0 10px;
	clear:both;
}
.g-photo { 
	width:130px; 
	float:left;
	margin:0 10px 10px 0;
}
	
.g-about { margin-bottom:10px; }
.g-about > div {
	font-size:9pt;
	font-weight:bold;
}

.request_friendship_in_profile_page a{
color: #131a6b;
font-weight: bold;}

span.label{
  font-size: 9pt;
  color: #999999;
}