.userinfo_photo {
    float:left;
}

.userinfo_right {
    float:right;
    width:80px;
}

.userinfo_login a{
    color: #7C4E04;
    font-size: 8pt;
}

.userinfo_right .userinfo_joined{
    font-size: 7pt;
}

.userinfo_icons{
    font-size: 6pt;
    margin-top:10px;
}

.details {
  width:100px;
}

.details .userinfo_joined{
  font-size: 7pt;
}
