<div class="nav2">
  <div class="nav2left">
    <span class="filler"> </span>
    <%= link_ "<< Poprzednie", prev.class == Video ? "video" : "photo", "show", prev.id if !prev.nil?%>
  </div>
<%v=nil unless defined?(v)%>
  <div class="nav2center">
    <span class="filler"> </span>
    <%= link_ "Ustaw jako główne", "photo", "main", photo if photo.rights?(curuser) and !(v)%>
  </div>

  <div class="nav2right">
    <span class="filler"> </span>
    <%= link_ "Następne >>", nxt.class == Video ? "video" : "photo", "show", nxt.id if !nxt.nil? %>
  </div>
  <div class="clear"></div>
</div>