%tr{:id => "banner_#{banner.id}", :class=> 'banner'}
  %td= banner.section_name
  %td 
  %td= link_to 'Edycja', edit_banner_path(banner)
  %td= link_to 'Usuń', banner_path(banner), :method => :delete, :cofirm => 'Czy napewno chcesz usunąć?')
  