.partial
  .header.p_mynotice
  .body
    - ads = user.buy_ads + user.sale_ads

    - if ads.length > 0
      - for ad in ads[0..4]
        = link_to ad.title, my_ads_path
        %br

      .clr
      .button_silver_67{:style => "float:right"}
        = link_to "Wszystkie", my_ads_path
      .clr

    - else
      Użytkownik nie dodał jeszcze żadnego ogłoszenia
