.partial
  .header.p_mynotice
  .body
    - ads = Ad.find(:all, :conditions => ['user_id = ?', user.id], :order => 'id DESC', :limit => 4)

    - if ads.length > 0 
      - ads.each do |ad|
        .gallery-user
          .g-photo{:style => 'min-height:93px'}
            = link_to image_tag(ad.assets.first.public_filename(:thumb)), ad_path(ad) if ad.assets.first
          .g-about
            %div= link_to ad.title, ad_path(ad)

        %br

      .clr
      .button_silver_67{:style => "float:right"}
        = link_to "Wszystkie", my_ads_path
      .clr

    - else
      Użytkownik nie dodał jeszcze żadnego ogłoszenia
