<div class="partial">
  <div class="header p_myfriends"></div>
  <div class='body'>
    <% if user.friends.empty? %>
      Ten użytkownik nie ma jeszcze znajomych
    <% else %>
      <table class="friend_list">
        <% for friend in user.friends %>
          <tr>
              <td>
                <div class="friend" style="margin-right:40px;">
                  <%= render :partial => "/userinfo", :locals =>
                    {:user => friend, :protect=> false, :special => "joined"} %>
                </div>
              </td>
          </tr>
        <%end%>
      </table>
      <div class="button_silver_67" style="float:right ;">
        <%= link_to "Wszystkie",{:controller => "users", :action => "friends", :id => user.id} %>
      </div>
    <% end %>
  </div>
</div>
