.partial
  .header.p_mygalleries
  .body
    - if user.galleries.length > 0
      - galleries = user.galleries.find(:all, :order => 'id DESC', :limit => 3)
      - galleries.each do |gallery|
        .gallery-user
          .g-photo
            = link_to image_tag(gallery.thumbnail ? gallery.thumbnail.public_filename : '../gallery.png'), user_gallery_path(user, gallery)
          .g-about
            %div= link_to gallery.name, user_gallery_path(current_user,gallery)
          //.links
          //  %a{:href => "#"}
          //    %img{:alt => "icon", :src => "/headers/icon-p.png"}/
          //  %a{:href => "#"}
          //    %img{:alt => "icon", :src => "/headers/icon-m.png"}/
          //  %a{:href => "#"}
          //    %img{:alt => "icon", :src => "/headers/icon-s.png"}/
    - else 
      Użytkownik nie utworzył jeszcze galerii
    .clr
    .clear
    .button_silver_67{:style => "float:right"}
      - if user.galleries.length > 0
        = link_to "Wszystkie", user_galleries_path(user)
      - else 
        = link_to "Dodaj", user_galleries_path(user)
    .clr
