.partial
  .header.p_mygalleries
  .body
    - if user.galleries.length > 0
      - user.galleries[0..3].each do |gallery|
        .gallery-user
          .g-photo
            = image_tag("photo-f.png")
          .g-about
            %div= link_to gallery.name, user_gallery_path(current_user,gallery)
          //.links
          //  %a{:href => "#"}
          //    %img{:alt => "icon", :src => "/headers/icon-p.png"}/
          //  %a{:href => "#"}
          //    %img{:alt => "icon", :src => "/headers/icon-m.png"}/
          //  %a{:href => "#"}
          //    %img{:alt => "icon", :src => "/headers/icon-s.png"}/
    - else 
      Użytkownik nie utworzył jeszcze galerii
    .clr
    .clear
    .button_silver_67{:style => "float:right"}
      = link_to (user.galleries.length > 0 ? "Wszystkie" : "Dodaj"), user_galleries_path(user)
    .clr
