
<div class="partial">
  <div class="header p_mygalleries"></div>
  <div class='body'>
    <% if user.galleries.length>0 %>
 
      <% format_galleries(user).reverse[0...3].each do |gallery| %>
        <div class="latest_item">
          <%= render :partial => "gallery/gallery2", :locals => {:gallery => gallery[0], :index => (gallery[1] +1)} %>
        </div>
      <% end %>
      <div class="clear"></div>
    <% else %>
      Użytkownik nie utworzył jeszcze galerii
    <% end %>
      <div class="button_silver_67" style="float:right">
        <%= link_to (user.galleries.length>0 ? "Wszystkie" : "Dodaj"), {:controller => "gallery", :action => "list", :id => user.id} %>
      </div>
      <div class="clr"></div>
  </div>
</div>
