<div class="partial">
  <div class="header p_pending"></div>
  <div class="body">

    <% if @users.blank? %>
      Ten użytkownik nie wysłał jeszcze nowych zaproszeń
    <% else %>
      <table class="friend_list">
        <% unless @users.blank? %>
          <% for friend in @users %>
            <tr>
                <td>
                  <div class="friend" style="margin-right:40px;">
                    <%= render :partial => "/userinfo", :locals => {:user => friend, :protect=> false, :special => "pending"} %>
                  </div>
                </td>
            </tr>
          <% end %>
        <% end %>
      </table>
      <br />
      <div class="button_silver_67" >
        <%= link_to "Wszystkie",{:controller => "users", :action => "friends", :id => user.id} %>
      </div>
    <% end %>
  </div>
</div>
