.partial
  .header.p_myquad
  .body
    - if user.quad.nil?
      Ten użytkownik nie ma jeszcze quada.
    - else 
      .quad
        .quad_title
          %h3 mój quad
          = user.quad.company.name unless user.quad.company.nil?
          = user.quad.qtype        
        .quad_description= user.quad.description
  
        %br
        %br
        .quad_title
          %h3 o mnie
        .quad_description= user.about
          


