<div class="partial">
  <div class="header p_user_find">Znalezieni quadomaniacy</div>
  <div class="body">
    <% if @line %>
      <div class="find_line">
        <%= @line %>
        <%= image_tag 'shadow.jpg' -%>
      </div>
    <% end %>
    <%  if @users.length > 0%>
      <table class="friend_list">
        <% for user_row in @users %>
          <tr>
            <% for user in user_row %>
              <td>
                <div class="friend" style="margin-right:40px;">
                  <%= render :partial => "/userinfo", :locals => {:user => user, :protect => !logged_in?} %>
                </div>
              </td>
            <% end %>
          </tr>
        <%end%>
      </table>
    <%else%>
      Niestety, nikogo nie znaleziono...
    <% end %>
  </div>
</div>
