<div class="partial">
  <div class="mheader">
    Aktywuj konto
  </div>

  <div style='text-align: center;width: 100%;'>
    <% form_for @user, :url => {:action => "create", :id => (@user.id)} do |f| %>
      <%= f.error_messages %>
    
        <%= f.submit "Aktywuj!", :class => 'submit', :style => 'font-size: 9pt;float: none; margin-top: 14px;'%>
      <% end %> 
  </div>
</div>
