.nav_gal
  = link_to "Galeria", user_galleries_path(@video.gallery.user)

  - unless @video.gallery.nil?
    &raquo;
    = link_to @video.gallery.name, user_gallery_path(@video.gallery.user, @video.gallery)

  - unless @video.nil?
    &raquo;
    - label = "film" + ( @video.description != "" ? " #{truncate(@video.description, 40, '..')}" : "" )
    = link_to label, video_path(@video), :class => "nav_photo"