.partial.latest_items
  .header.p_user_var Znalezione filmy
  .body
    - unless  @videos.blank?
      %table.gallery
        - @videos.in_groups_of(3).each do |triple|
          %tr
            - triple.each do |video|
              %td
                .photo_m
                  - unless video.nil?
                    = link_to((video.thumbnail ? (image_tag(video.thumbnail.public_filename)) : ("Miniaturka niedostępna")), video_path(video))
                    = render :partial => "galleries/asset", :object => video
    - else
      Niestety, nie znaleziono filmów...