//= will_paginate @users, :renderer => 'RemoteLinkRenderer', :remote => remote_pagination_params, :previous_label => "&laquo;", :next_label => "&raquo;"

%table{:class => 'events tablesorter'}
  %thead
    %tr.tableHead2
      %th Nazwa
      %th Miejsce
      %th Od - do
      %th Organizator
      %th Kategoria

  %tbody
    = render :partial => 'event', :collection => @events
