<table>
  <tr>
    <% @team.pending_users[0...2].each_with_index do |user,userindx| %>
      <td>

        <%= render :partial => "/userinfo", :locals => {:user => user, :narrow => true, :gray => true}%>

      </td>
    <% end %>
  </tr>
  <tr>
    <% if @team.pending_users.length > 2
      @team.pending_users[3...4].each_with_index do |user,userindx| %>
        <td>

          <%= render :partial => "/userinfo", :locals => {:user => user, :narrow => true, :gray => true}%>

        </td>
      <% end
    end%>
  </tr>
</table>
<br/>
<div class="button_gold_100">
  <%= link_to "Pokaż oczekujących", {:controller => "team", :action => "pending_list", :id => @team.id},:style=>"padding-top:1px;" %>
</div>