<%= iframe_styles %>

<%  if @users%>
<table class="friend_list">
  <% for user_row in @users %>
    <tr>
      <% for user in user_row %>
        <td>
          <div class="friend">
            <%= render :partial => "/userinfo", :locals => {:user => user, :target => "_parent"} %>
          </div>
        </td>
      <% end %>
    </tr>
  <%end%>
</table>
<%else%>
  Niestety, grupa z jakiegoś powodu jest pusta...
<% end %>