<div class="partial links">
  <%=insert_corners%>
  <div class="header"> Działania </div>
    <div>
    <%= link_ "Zobacz galerie użytkownika", "gallery", "list", @user.id%><br/>
    <%= link_ "Napisz wiadomość", "message", "new", @user.id unless @user==curuser%><br/>
    <%= (link_ "Zaproś użytkownika do znajomych", "relationship", "req", @user.id) unless @user.friend?(curuser) or curuser.pending?(@user) or @user==curuser %><br/>
  </div>

</div>