<div class="partial">
  <div class="header p_myquad"></div>
  <div class='body'>
    <%if user.quad %>
      Ten użytkownik nie ma jeszcze quada.
    <%else%>
      <div class="quad">
        <div class="quad">
          <div class="quad_title"><%= quad.company %>  <%= quad.qtype %></div>
            <div class="quad_description">
              <%= quad.description %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
