<div class="partial">
  <div class="header p_myquad"></div>
  <div class='body'>
    <% if user.quad.nil? %>
      Ten użytkownik nie ma jeszcze quada.
    <% else %>
      <div class="quad">
        <div class="quad">
          <div class="quad_title"><%= user.quad.company %>  <%= user.quad.qtype %></div>
            <div class="quad_description">
              <%= user.quad.description %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
