<%= iframe_styles %>

<%  if @users.length > 0%>
<table class="friend_list">
  <% for user_row in @users %>
    <tr>
            <td>
              <%= render :partial => "/userinfo", :locals =>
                {:user => user, :protect=> false, :special => "joined"} %>
            </td>
          </tr>
  <%end%>
</table>
<%else%>
  Niestety, nikogo nie znaleziono...
<% end %>