<div class="partial" id="obj">
  <div class="header">Dodaj album!</div>

  <div class="body">
    <% form_for :gallery, :url => {:action => "elist", :id => id} do |f|%>
      <div class="form_row">
        <%= f.label :name, "Nazwa" %>
        <%= f.text_field :name %>
      </div>
      <div class="form_row">
        <%= f.submit "Dodaj" %>
      </div>
    <%end%>
    <%= link_to_remote "Zamknij", :url => {:action => "foldg"}, :html => {:class => "remote_close"} %>
  </div>
</div>