<div class="partial" id="obj">
  <div class="header">Edytuj album!</div>
  <div class="body">
    <% form_for :gallery, :url => {:action => "edit", :id => gallery} do |f|%>
      <div class="form_row">
        <%= f.label :name, "Nazwa" %>
        <%= f.text_field :name, :value => cname %>
      </div>
      <div class="form_row">
        <%= f.submit "Zapisz zmiany!" %>
      </div>
    <%end%>
    <%= link_to_remote "Zamknij", :url => {:action => "foldg"}, :html => {:class => "remote_close"} %>
  </div>
</div>