<div class="partial">
  <div class="header p_gal_index"> <%#= @user==curuser ? "Twoja galeria" : "Galeria użytkownika #{@user.login}"%></div>
  <div class="body">
<%#= render :partial => "gallery/nav", :locals => {:user => @user, :gallery => nil } %>
    <% if @galleries.empty? %>
      <br/><br/><br/>
      <%= curuser==@user ? "Nie masz jeszcze galerii" : "Ten uzytkownik nie ma jeszcze galerii" %>
      <br/><br/><br/>
    <% else %>

      <table class="gallery_list">
        <% for gal_row in @galleries %>
          <tr>
            <% for gallery in gal_row %>
              <td>
                <%= render :partial => "gallery", :locals => {:gallery => gallery[0], :index =>  gallery[1]+1} %>
              </td>
            <% end %>
          </tr>
        <%end%>
      </table>

    <% end %>
    <% if @curuser == @user %>
      <br/><br/>
      <div id="add_g">
        <div class="button_silver_75" style="float:right">
          <%= link_to_remote "Dodaj album", :url => {:controller => "gallery", :action => "g_add"} %>
        </div>
        <div class="clr"></div>
      </div>
    <% end %>
  </div>
</div>