.partial
  .header.p_photo
  .body
    %p Edytuj zdjęcie
    - form_for @photo, :url => photo_path(@photo), :method => :put do |f|
      .form_row
        = f.label :name, "Opis"
        = f.text_field :description
    
      .form_row
        = f.submit "Zapisz", :class => 'submit'
        .button_silver_67.submit{ :style => "border: 1px solid #AAA; height:24px; margin-right:5px;" }
          - galleriable = @photo.gallery.galleriable
          = link_to "Zamknij", get_back_or_default('/')