<div class="partial partial_left">
  <div class="header p_marka">
    
  </div>
  <div class="body">
    <% regions.sort{|x,y|
      
      x<=>y
    }.each do |x|%>
      <%= link_find "#{x[0]} (#{x[1]})",x[0],"region" %><br/>
    <% end %>
  </div>
</div>
