<div style="float:left">
  <%= image_tag("../logo_footer.png") %>
</div>

<div id="copyright">
  Copyright &copy; 2010 QUADOMANIACY.PL | DESIGNED BY CODEINK.PL
</div>

<div id="footer_links">
  <%= link_ "POMOC", "site", "help"  %> |
  <%= link_ "POLITYKA PRYWATNOŚCI", "site", "ppolicy"  %> |
  <%= link_ "REGULAMIN", "site", "terms"  %> |
  <a href="#top">POWRÓT NA GÓRĘ</a>
</div>
