<div class="partial5" >
  <%=insert_corners%>
  
  <div class="body" style="height:150px;padding-left:20px;text-align:left;padding-top:20px;padding-bottom:20px;margin-top:13px;">
    Witamy, witamy, witamy....
    <br/><br/>
    Strona gotowa do testów, bardzo proszę wysyłać swoje spostrzeżenia na adres: telpeloth@gmail.com
  </div>
</div>