<div class="partial">
  <%=insert_corners%>
  <div class="header">Nowości u quadomaniaków</div>
  <div class="body">
    Strona gotowa do testów, bardzo proszę wysyłać swoje spostrzeżenia na adres: telpeloth@gmail.com
  </div>
</div>