<div class="partial partial_right">
  <div class="header l_users"></div>

  <div class='body', style='background-image: none;'>
    <%= render :partial => "friend", :collection => users -%>

    <div style="clear:both"></div>
  </div>
  <div style="clear:both"></div>
</div>
