<div class="partial">
  <div class="header p_l_videos">
  </div>
  <div class='body'>
    <table class="p_movies">
      <tr>
        <% for video in videos[0...4]  %>
          <td>
            <%= link_to image_tag(video.public_filename + "jpg"), video_path(video) %><br/>
          </td>

        <% end %>
      </tr>
      <tr>
        <%if videos.length > 4
          for video in videos[4...7]  %>
            <td>
              <%= link_to image_tag(video.public_filename + "jpg"), video_path(video) %><br/>
            </td>

          <%end
        end %>
        <td>
          <div class="button_silver_67" style="margin-top:45px;margin-left:28px">
            <%= link_to "Wszystkie", :controller => "videos", :action => "find" %>
          </div>
        </td>
      </tr>

    </table>

  </div>
</div>
