<div class="partial latest_items">
  <div class="header">
    Ostatnio dodane zdjęcia Twoich znajomych
  </div>
  <div class='body'>

    <% if photos.length > 0%>

      <%  for photo in photos  %>
        <div class="latest_item">
          <div>
            <%= link_to image_tag(photo.public_filename(:thumb)), user_gallery_photo_path(photo.gallery.user,photo.gallery,photo) %><br/>
          </div>
          <%= link_to photo.gallery.user.login, user_path(photo.gallery.user.id) %>
        </div>

      <% end %>
    <% else %>
      Nikt z Twoich znajomych nie dodał jeszcze zdjęcia
    <% end %>
    <div style="clear:both">
    </div>
  </div>
</div>
