<div class="partial latest_items">
  <div class="header v_latest_friends_videos"> </div>
  <div class='body'>
     <% if videos.length > 0%>
    <% for video in videos  %>
      <div class="latest_item">
        <div>
          <%= link_to((video.thumbnail ? (image_tag(video.thumbnail.public_filename)) : ("Miniaturka niedostępna")), video_path(video)) if video -%>
        </div>
        <%= link_to video.gallery.galleriable.login, user_path(video.gallery.galleriable) %>
      </div>

    <% end %>
     <% else %>
      Nikt z Twoich znajomych nie dodał jeszcze filmu
    <% end %>
    <div style="clear:both">
    </div>
  </div>
</div>
