<div class="partial partial_right">
  <div class="header p_mail"></div>
  <div class="body">
    <%= link_ "Nowa wiadomość", "messages", "newr"  %><br/>
    <%= link_ "Skrzynka odbiorcza (#{user.unread})", "messages", "received"  %><br/>
    <%= link_ "Skrzynka nadawcza", "messages", "sent"  %>

  </div>
</div>
