<div class="partial partial_right">
  <div class="header p_mail"></div>
  <div class="body">
    <%= link_ "Nowa wiadomość", "message", "newr"  %><br/>
    <%= link_ "Skrzynka odbiorcza (#{user.unread})", "message", "received"  %><br/>
    <%= link_ "Skrzynka nadawcza", "message", "sent"  %>

  </div>
</div>