<div class="partial partial_left">

<div class="header p_t_videos">

  </div>
  <div class='body'>
    
    <% top_videos.each_with_index do |movie,i| %>
      <span> <%= i+1%>.</span> <%= link_to trunc(movie.description), user_gallery_video_path(movie.gallery.user,movie.gallery,movie)   %><br/>
    <% end %>

    <div class="button_silver_67" style="float:right">
      <%= link_to "Wszystkie", :controller => :videos, :action => :find %>
    </div>
      <div class="clr"></div>
  </div>

</div>