<div class="partial" style="text-align:center">
  <div class="header p_t_video"></div>
  <div class='body'>
    <div class='<%= logged_in? ? "" : "main_movie" %>'>
      <%= render :partial => 'videos/player', :locals => { :video => @top_video, :styles => "display:block;width:446px;height:348px;" } %>
    </div>  

    <div class="grey_text" style="font-size:7.5pt;margin-bottom:8px;">
      <div style="float:left;padding-left:75px;color: #999999;">
        Średnia ocena: 
        <%= image_tag "star_#{rate_for_star(rated_object.rate)}.gif" -%>
      </div>
      <div style="float:right;padding-right:80px;color: #999999;">Ilość wyświetleń: <%= @top_video.counter %> razy</div>
      <div style="clear:both"></div>
    </div>
  
  </div>
</div>