<div class="partial">
  <div class="header what_is_new"></div>
  <div class='body'>
    <% what_news.each do |wn| %>

      <h2><%=wn.title%></h2>

      <p>
        <%= ntobr wn.content %>
      </p>
      <div class="clr"></div>
    <% end %>
  </div>
</div>
