.nav_gal
  = link_to "Galerie", eval("#{@galleriable.class.to_s.downcase}_galleries_path(@galleriable)")

  - unless @gallery.nil?
    &gt;
    = link_to @gallery.name, eval("#{@galleriable.class.to_s.downcase}_gallery_path(@galleriable, @gallery)")