.nav_gal
  = link_to "Galerie", eval("#{@galleriable.is_a?(User) ? 'user' : 'event'}_galleries_path(@galleriable)")

  - unless @gallery.nil?
    &gt;
    = link_to @gallery.name, eval("#{@galleriable.is_a?(User) ? 'user' : 'event'}_gallery_path(@galleriable, @gallery)")