.partial
  .header.p_gal_index
  .body
    - if @galleries.empty?
      %p Brak galerii
    - else
      %table.gallery_list
        - @galleries.in_groups_of(2).each do |pair|
          %tr
            - pair.each do |gallery|
              %td
                = render :partial => "gallery", :object => gallery unless gallery.nil?


    - if @galleriable == current_user || @galleriable.user == current_user
      #new_gallery
        .button_silver_75{ :style => "float:right" }
          = link_to "Dodaj album", eval("new_#{@galleriable.is_a?(User) ? 'user' : 'event'}_gallery_path(@galleriable)")
        .clr