.partial
  .header.ads
  .body
    - form_for @buy_ad do |form|
      = render :partial => 'fields', :locals => { :form => form }

      .form_row
        = form.submit "Zapisz", :class => "submit"
      %span.required_field 
        * - pole wymagane

    .clr
