- form_for @buy_ad, :html => { :class => 'admin' } do |form|
  %fieldset
    %legend Ogłoszenie

    = render :partial => 'fields', :locals => { :form => form }

    %div
      = submit_tag 'Zapisz', :class => 'submit'
      = link_to 'Anuluj', buy_ads_path, :class => 'submit'
