.partial.partial_right
  .header.p_findv
  .body.find
    - form_tag '/videos/index' do
      = text_field_tag :search, params[:search]

      %div{:style=>'margin-top:3px;'}
        = link_to "Szczegółowe wyszukiwanie", search_videos_path, :style => "font-weight: bold; font-size: 8pt;"

      .form_row
        = submit_tag "Szukaj", :class => 'submit', :style => "margin-top:10px;border:none;"

    .clr