#footer
  #image= image_tag("../logo_footer.png")

  #copyright
    Copyright &copy; 2010 QUADOMANIACY.PL | DESIGNED BY CODEINK.PL

  #footer_links
    = link_ "POMOC", "site", "help"
    |
    = link_ "POLITYKA PRYWATNOŚCI", "site", "ppolicy"
    |
    = link_ "REGULAMIN", "site", "terms"
    |
    <a href="#top">POWRÓT NA GÓRĘ</a>
