.partial.partial_right
  .header.p_l_users
  .body
    %table
      - User.find(:all, :limit => 4, :conditions => ['active = ?', true], :order => "created_at desc").each do |user|
        %tr
          %td
            = render :partial => "/latestuserinfo", :locals => {:user => user, :protect=> true, :special => "joined"}
    .clear

  .clear
