%div{:class => "partial partial_left"}
  %div{ :class => "header p_marka"}
  .body
    %ul.states
      - State.find(:all, :order => 'name').each do |state|
        %li= link_to "#{state.name} (#{User.find_all_by_state_id(state.id).count})", find_users_path(:id => state.id, :by => 'state_id') 